<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://deflog-stage.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>deflog-stage</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$deflog-stage</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LogContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:fcxg9p1lhp.database.windows.net,1433;Initial Catalog=deflogsAQ9poCZ5t;User ID=eriedeflog@fcxg9p1lhp;Password=GoErie814" Name="Data Source=tcp:fcxg9p1lhp.database.windows.net,1433;Initial Catalog=deflogsAQ9poCZ5t;User Id=eriedeflog@fcxg9p1lhp;Password=GoErie814" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DefectLog.Core.Domain.LogContext, DefectLog.Core" MigrationConfiguration="DefectLog.Core.Migrations.Configuration, DefectLog.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LogContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fcxg9p1lhp.database.windows.net,1433;Initial Catalog=deflogsAQ9poCZ5t;User Id=eriedeflog@fcxg9p1lhp;Password=GoErie814</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>